div {width: 100px;
    height: 100px;
    background-color: green;
    margin-left: 100px;
    display: flex;
    align-items: center;
    color: white;}

div:hover {background-color: rgb(3, 171, 223);
           border-radius: 20%;
           transition: 1.5s;}

.car {width: 100px;
      height: 100px;
      background-color: rgb(219, 97, 219);
      margin-left: 300px;
      display: flex;
      align-items: center;}
        
.car:hover {background-color: rgb(152, 250, 25);
            border-radius: 20%;
            transition: 1.5s;}

.exo49 {background-color: transparent;
        border: none;
        color : white}

.exo50 {color: orangered;
        width: 250px;
        height: 30px;
        font-size: 25px;
        margin-left: 100px;
        border: none;
        background-color: transparent;}

.anime {animation: rotation 2s infinite;
        background-color: blueviolet;}

@keyframes rotation {
    to{
        transform: rotate(360deg);
    }
}

.exo51 {width: 100px;
        height: 20px;
        background-color: aqua;
        margin-left: 250px;
        border: none;}

.exo52 {width: 180px;
        height: 25px;
        border: none;
        margin-left: 950px;}