div {background-color: chocolate;
    width: 150px;
    height: 150px;}

.car1 {margin-left: 700px;
        margin-top: 100px;}

.car2 {margin-left: 570px;
      margin-top: -15px;}

.exo6 {width: 100px;
       height: 100px;
       background-color: blue;}
