* {margin: 0;
   padding: 0;
   line-height: 2.5;}

header {background: linear-gradient(#e66465, #9198e5);
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;}

#enter {width: 200px;
      height: 35px;
      border: none;}

input {width: 700px;
      height: 35px;
      border: none;}

ul {margin-top: 20px;
    text-align: left;}
    
li { list-style: none;
    color: black;
    background: linear-gradient(#e66465, #9198e5);}

li:hover{background: #76CFE0;}
    
li > button {font-weight: normal;
        background: none;
        border: none;
        float: right;
        color: #025f70;
        font-weight: 800;}

.delete {display: none;}